{% extends 'base.html.twig' %}

{% block body %}
    <h1>Companies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Adresse</th>
                <th>Phone</th>
                <th>Photo</th>
                <th>Email</th>
                <th>Fax</th>
                <th>Siteweb</th>
                <th>Pagefb</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td><a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.id }}</a></td>
                <td>{{ company.name }}</td>
                <td>{{ company.adresse }}</td>
                <td>{{ company.phone }}</td>
                <td>{{ company.photo }}</td>
                <td>{{ company.email }}</td>
                <td>{{ company.fax }}</td>
                <td>{{ company.siteweb }}</td>
                <td>{{ company.pagefb }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('company_show', { 'id': company.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('company_edit', { 'id': company.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('company_new') }}">Create a new company</a>
        </li>
    </ul>
{% endblock %}
