{% extends 'Base2.html.twig' %}

{% block content %}
    <div class="inner-content loginWrp">
        <div class="container">


            <div class="row">
                <div class="col-md-9 col-sm-8">
                    <div class="heading-title">Showing <span>All Companies</span></div>
                    <ul>
                        {% for company in companies %}
                            <li>
                                <div class="listWrpService featured-wrap candidate">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-3 col-xs-12">
                                            <div class="listImg"><img src="{{asset("uploads/images/"~company.photo)}}" alt=""></div>
                                        </div>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h3><a href="#">{{ company.name }}</a></h3>
                                                    {#<div class="designation">{{ m.rotaract }}</div>#}
                                                    <ul class="featureInfo">
                                                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{ company.adresse }}</li>
                                                        <a href="https://{{ company.siteweb }}"><li><i class="fa fa-globe" aria-hidden="true"></i> {{ company.siteweb }}</li></a>
                                                        <a href="https://{{ company.pagefb }}"><li><i class="fa fa-facebook" aria-hidden="true"></i> {{ company.pagefb }}</li></a><br>
                                                        <li><i class="fa fa-phone" aria-hidden="true"></i> {{ company.phone }}</li>
                                                        <li><i class="fa fa-home" aria-hidden="true"></i> {{ company.fax }}</li>
                                                        <li><i class="fa fa-send" aria-hidden="true"></i> {{ company.user.email }}</li>

                                                    </ul>

                                                </div>
                                                <div class="col-md-4">
                                                    <ul>
                                                        <li class="click-btn apply"><a href="{{ path('company_show',{'id':company.id}) }}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Voir plus</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block body %}
    <h1>Companies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Adresse</th>
                <th>Phone</th>
                <th>Photo</th>
                <th>Email</th>
                <th>Fax</th>
                <th>Siteweb</th>
                <th>Pagefb</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td><a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.id }}</a></td>
                <td>{{ company.name }}</td>
                <td>{{ company.adresse }}</td>
                <td>{{ company.phone }}</td>
                <td>{{ company.photo }}</td>
                <td>{{ company.email }}</td>
                <td>{{ company.fax }}</td>
                <td>{{ company.siteweb }}</td>
                <td>{{ company.pagefb }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('company_show', { 'id': company.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('company_edit', { 'id': company.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('company_new') }}">Create a new company</a>
        </li>
    </ul>
{% endblock %}
