{% extends 'Base2.html.twig' %}
{% block titre %}Entreprise{% endblock %}
{% block content %}
    <div class="inner-content loginWrp">
        <div class="container">


            <div class="row">
                <div class="col-md-12 col-sm-8">
                    <div class="heading-title">{{ company.name }}</span></div>
                    <div class="listWrpService featured-wrap candidate candetail">
                        <div class="row">
                            <div class="listWrpService featured-wrap candidate">
                                <div class="row">
                                    <div class="col-md-2 col-sm-3 col-xs-12">
                                        <div class="listImg"><img src="{{asset("uploads/images/"~company.photo)}}" alt=""></div>
                                    </div>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h3><a href="#">{{ company.name }}</a></h3>
                                                <ul class="featureInfo">
                                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{ company.adresse }}</li><br>
                                                <li><a href="https://{{ company.siteweb }}"><i class="fa fa-globe" aria-hidden="true"></i> {{ company.siteweb }}</li></a><br>
                                                <li><a href="https://{{ company.pagefb }}"><i class="fa fa-facebook" aria-hidden="true"></i> {{ company.pagefb }}</li></a><br>
                                                <li><i class="fa fa-phone" aria-hidden="true"></i> {{ company.phone }}</li><br>
                                                <li><i class="fa fa-home" aria-hidden="true"></i> {{ company.fax }}</li><br>
                                                <li><i class="fa fa-send" aria-hidden="true"></i> {{ company.user.email }}</li><br>
                                                {#<div class="designation">{{ m.rotaract }}</div>#}



                                                </ul>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listWrpService featured-wrap candidate candetail">
                        <iframe src= https://www.google.com/maps/embed/v1/place?key=AIzaSyBoVSG3FplX2Ckbl672m4HWjnKK4WS5j2w&q={{ company.adresse }}&attribution_source=Google+Maps+Embed+API"
                                style="height: 400px;width: 1000px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
