{% extends 'Base2.html.twig' %}

{% block content %}
    <div class="inner-content loginWrp">
        <div class="container">


            <div class="row">

                <div class="col-md-12 col-sm-8">
                    <div class="login">

                        <div class="formint conForm">

                            <h1>Informations sur le poste</h1>

                            {{ form_start(edit_form) }}

                            {{ form_widget(edit_form.title, {'attr': {'class': 'form-control','placeholder':'Titre'}}) }}<br>
                            {{ form_widget(edit_form.content, {'attr': {'class': 'form-control','placeholder':'Titre'}}) }}<br>
                            <label>Categorie
                                {{ form_widget(edit_form.categorie) }}
                            </label><br><br>
                            <label>Date d'expiration
                                {{ form_widget(edit_form.expirationDate) }}
                            </label><br><br>

                            <input type="submit" class="sbutn" value="Valider" />
                            {{ form_end(edit_form) }}

                            <ul>
                                <li>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
