{% extends 'Base2.html.twig' %}
 {% block titre %}
     <h3>Ajouter une annonce</h3>
 {% endblock %}
{% block content %}
    <div class="inner-content loginWrp">
        <div class="container">


            <div class="row">

                <div class="col-md-12 col-sm-10">
                    <div class="login">

                        <div class="formint conForm">

                            <h1>Informations sur le poste</h1>

                            {{ form_start(form) }}

                            {{ form_widget(form.titre, {'attr': {'class': 'form-control','placeholder':'Titre'}}) }}<br>
                            {{ form_widget(form.contenu, {'attr': {'class': 'form-control','placeholder':'Titre'}}) }}<br>
                            {{ form_widget(form.photo) }}<br>

                            <label>Categorie
                                {{ form_widget(form.categorie) }}
                            </label><br><br>



                            <input type="submit" class="sbutn" value="Valider" />
                            {{ form_end(form) }}

                            <ul>
                                <li>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
